<h3>Itens comprados</h3>

<div class="produto" *ngFor="let produto of items">

	<div class="imagem">
    <img src="{{produto.imagem}}" alt="{{produto.descricao}}">
  </div>
  <div>
    <div class="line" [title]="produto.nome">
        <p> Nome: <i>{{ produto.nome }}</i></p>
    </div>
    <div class="line" [title]="produto.preco">
      <p> Preço: <i>{{produto.preco | currency}}</i></p>
    </div>
    <div class="line" *ngIf="produto.descricao">
      <p> Description: <i>{{ produto.descricao }}</i></p>
    </div>
    <div class="line" [title]="produto.usuario">
      <p> Vendedor: <i>{{produto.usuario.nome}}</i></p>
    </div>
  </div>
</div>