<h2 class="ajust">Produtos a venda</h2>

<div class="borda centralize" *ngFor="let produto of produtos_pra_venda;">

  <h3>
    <p [title]="produto.nome">
      {{ produto.nome }}
    </p>
  </h3>

  <div [title]="produto.preco">
    <div class="left-bold"> Preço:</div>
    <div class="finalize">{{produto.preco | currency}}</div>
  </div>

  <div *ngIf="produto.descricao">
    Descrição: {{ produto.descricao }}
  </div>

  <div [title]="produto.usuario">
    Vendedor: {{produto.usuario.nome}}
  </div>

</div>