div.produto {
    background: rgba(195, 221, 152, 0.363);
    color: rgba(36, 2, 41, 0.918);
    padding: 2%;
    margin-bottom: 5%;
    border: 1px solid rgb(5, 1, 22);
}

div.imagem {
  display: block;
  margin: auto;
  overflow: hidden;
}

div.line {
  text-align: center;
}

div.line i {
  text-align: end;
}

div.line p{
  text-align: left;
  font-weight: bold;
  color: blue;
}